{% extends 'blog/main_base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <div id="header-wrapper">

        <div class="container">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Real Estate Agent</a></h1>
                    <span>by IANSONG</span>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="{% url 'main' %}">Homepage</a></li>
                        <li><a href="{% url 'home_list' %}">Home Listings #1</a></li>
                        <li><a href="{% url 'post_list' %}">Message Board #2</a></li>
                        <li class="current_page_item"><a href="{% url 'main_contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

	<!-- Page Wrapper -->
	<div id="wrapper" class="container">

		<!-- Page Content -->
		<div id="page" class="row">

			<!-- Content Area -->
			<div id="content" class="12u">

				<!-- Main Content Area -->
				<section>
					<h2>찾아오시는길.</h2>
<!--
                    <div id="map" class="contact-map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!2d-73.98731968482413!3d40.75889497932681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes+Square!5e0!3m2!1ses-419!2sve!4v1510329142834"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
-->
                    <div id="map" class="contact-map" style="width:100%;height:450px;border=1;"></div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28bda2cc651c9b3b3daca4b718c93fba"></script>

                    <p>
                        <input type="checkbox" id="chkUseDistrict" onclick="setOverlayMapTypeId()" /> 지적편집도 정보 보기
                        <input type="checkbox" id="chkTerrain" onclick="setOverlayMapTypeId()" /> 지형정보 보기
                        <input type="checkbox" id="chkTraffic" onclick="setOverlayMapTypeId()" /> 교통정보 보기
                        <input type="checkbox" id="chkBicycle" onclick="setOverlayMapTypeId()" /> 자전거도로 정보 보기
                    </p>

                    <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(37.555875, 127.144487), // 지도의 중심좌표
                            level: 7 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                    // 지도 타입 정보를 가지고 있을 객체입니다
                    // map.addOverlayMapTypeId 함수로 추가된 지도 타입은
                    // 가장 나중에 추가된 지도 타입이 가장 앞에 표시됩니다
                    // 이 예제에서는 지도 타입을 추가할 때 지적편집도, 지형정보, 교통정보, 자전거도로 정보 순으로 추가하므로
                    // 자전거 도로 정보가 가장 앞에 표시됩니다
                    var mapTypes = {
                        terrain : kakao.maps.MapTypeId.TERRAIN,
                        traffic :  kakao.maps.MapTypeId.TRAFFIC,
                        bicycle : kakao.maps.MapTypeId.BICYCLE,
                        useDistrict : kakao.maps.MapTypeId.USE_DISTRICT
                    };

                    // 체크 박스를 선택하면 호출되는 함수입니다
                    function setOverlayMapTypeId() {
                        var chkTerrain = document.getElementById('chkTerrain'),
                            chkTraffic = document.getElementById('chkTraffic'),
                            chkBicycle = document.getElementById('chkBicycle'),
                            chkUseDistrict = document.getElementById('chkUseDistrict');

                        // 지도 타입을 제거합니다
                        for (var type in mapTypes) {
                            map.removeOverlayMapTypeId(mapTypes[type]);
                        }

                        // 지적편집도정보 체크박스가 체크되어있으면 지도에 지적편집도정보 지도타입을 추가합니다
                        if (chkUseDistrict.checked) {
                            map.addOverlayMapTypeId(mapTypes.useDistrict);
                        }

                        // 지형정보 체크박스가 체크되어있으면 지도에 지형정보 지도타입을 추가합니다
                        if (chkTerrain.checked) {
                            map.addOverlayMapTypeId(mapTypes.terrain);
                        }

                        // 교통정보 체크박스가 체크되어있으면 지도에 교통정보 지도타입을 추가합니다
                        if (chkTraffic.checked) {
                            map.addOverlayMapTypeId(mapTypes.traffic);
                        }

                        // 자전거도로정보 체크박스가 체크되어있으면 지도에 자전거도로정보 지도타입을 추가합니다
                        if (chkBicycle.checked) {
                            map.addOverlayMapTypeId(mapTypes.bicycle);
                        }

                    }
                    </script>

				</section>

			</div>
			<!-- Content Area Ends Here -->

		</div>
		<!-- Page Content Ends Here -->

	</div>
	<!-- page Wrapper Ends Here -->

{% endblock %}