{% extends 'blog/main_base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <div id="header-wrapper">

        <div class="container">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Real Estate Agent</a></h1>
                    <span>by IANSONG</span>
                </div>
                <nav id="nav">
                    <ul>
                        <li class="current_page_item"><a href="{% url 'main' %}">Homepage</a></li>
                        <li><a href="{% url 'home_list' %}">Home Listings #1</a></li>
                        <li><a href="{% url 'post_list' %}">Message Board #2</a></li>
                        <li><a href="{% url 'main_contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <!-- Page Wrapper -->
    <div id="wrapper" class="container">

        <!-- Banner Content -->
        <div id="banner" class="row">
            <div class="12u">
                <section><a href="#"><img src="{% static 'images/main-pics-01.jpg' %}" alt=""></a></section>
            </div>
        </div>

        <!-- Marketing Content -->
        <div id="marketing" class="row">
            <div class="3u">
                <section class="box">
                    <h2>이슈 #1</h2>
                    <p class="subtitle">부제목</p>
                    <ul class="style1">
                        <li><a href="#">주요내용 #1</a></li>
                        <li><a href="#">주요내용 #2</a></li>
                        <li><a href="#">주요내용 #3</a></li>
                    </ul>
                    <p><a href="#" class="button"><span>Read More</span></a></p>
                </section>
            </div>
            <div class="3u">
                <section class="box">
                    <h2>이슈 #1</h2>
                    <p class="subtitle">부제목</p>
                    <ul class="style1">
                        <li><a href="#">주요내용 #1</a></li>
                        <li><a href="#">주요내용 #2</a></li>
                        <li><a href="#">주요내용 #3</a></li>
                    </ul>
                    <p><a href="#" class="button"><span>Read More</span></a></p>
                </section>
            </div>
            <div class="3u">
                <section class="box">
                    <h2>이슈 #1</h2>
                    <p class="subtitle">부제목</p>
                    <ul class="style1">
                        <li><a href="#">주요내용 #1</a></li>
                        <li><a href="#">주요내용 #2</a></li>
                        <li><a href="#">주요내용 #3</a></li>
                    </ul>
                    <p><a href="#" class="button"><span>Read More</span></a></p>
                </section>
            </div>
            <div class="3u">
                <section class="box">
                    <h2>이슈 #1</h2>
                    <p class="subtitle">부제목</p>
                    <ul class="style1">
                        <li><a href="#">주요내용 #1</a></li>
                        <li><a href="#">주요내용 #2</a></li>
                        <li><a href="#">주요내용 #3</a></li>
                    </ul>
                    <p><a href="#" class="button"><span>Read More</span></a></p>
                </section>
            </div>
        </div>

        <!-- Page Content -->
        <div id="page" class="row">

            <!-- Content Area -->
            <div id="content" class="8u skel-cell-important">

                <!-- Main Content Area -->
                <section>
                    <h2>오늘의 부동산 이슈</h2>
                    <p><a href="#"><img src="{% static 'images/main-pics-02.jpg' %}" alt=""></a></p>
                    <p>지방 공공택지 아파트 <strong>전매제한 1년→3년 강화</strong> 된다. [서울경제] 8월께부터 지방 공공택지에서 분양하는 주택에 대한...</p>
                    <p><a href="#" class="button"><span>Read More</span></a></p>
                </section>


                <!-- Two Column Area -->
                <section>
                    <div id="two-column" class="5grid">
                        <div class="row">
                            <div class="6u">
                                <section>
                                    <h2>부제</h2>
                                    <p>참고하세요.</p>
                                </section>
                            </div>
                           <div class="6u">
                                <section>
                                    <h2>부제</h2>
                                    <p>참고하세요.</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>
        <!-- Page Content -->

    </div>
    <!-- Wrapper Ends Here -->

{% endblock %}

