{% extends 'blog/post_base.html' %}

{% block post_base %}
    <h1>찾아오시는길</h1>
    <br/>
 	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28bda2cc651c9b3b3daca4b718c93fba"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>



{% endblock post_base %}
