{% extends 'blog/main_base.html' %}

{% block content %}

    <!-- Header -->
    <div id="header-wrapper">

        <div class="container">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Real Estate Agent</a></h1>
                    <span>by IANSONG</span>
                </div>
                <nav id="nav">
                    <ul>
                        <li><a href="{% url 'main' %}">Homepage</a></li>
                        <li><a href="{% url 'home_list' %}">Home Listings #1</a></li>
                        <li class="current_page_item"><a href="{% url 'post_list' %}">Message Board #2</a></li>
                        <li><a href="{% url 'main_contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <!-- post top menu -->
    <div class="page-header">

             {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_globe' %}" class="top-menu"><span class="glyphicon glyphicon-globe"></span></a>
                <a href="{% url 'post_pdf' %}" class="top-menu"><span class="glyphicon glyphicon-stats"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu-s">Hello {{ user.username }} <x-small>(<a href="{% url 'logout' %}">Log out</a>)</x-small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <p class="top-menu"><a href="/">아파트인포 부동산</a></p>

        </div>

    <div class="content container">
        {% block post_base %}
        {% endblock post_base %}
    </div>

{% endblock content %}
